$white: #fff;

$grey-light: #f9f9f9;
$grey-mid-light: #eee;
$grey-mid: #ccc;
$grey-darker: #474747;

$green-dark: #3F5526;
$green-mid-dark: #44632B;
$green-mid: #637A3D;
$green-mid-light: #759845;
$green-bright: #97C459;
$green-light: #C0D0AA;

$fiftypx: 50px;

$pink: #E55C88;

$radiusone: 10px;

$gray: #AABFBB;

$pad: 30px;

$decoration: none;

$hover: 18px;