<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1> GULP </h1>
  <div class="contain">
  	<h2>Easy to Use</h2>
  	<p> By preferring code over configuration, gulp keeps things simple and makes complex tasks manageable. </p>
  </div>

  <div class="contain">
  	<h2>Easy to Learn</h2>
  	<p> Using node best practices and maintaining a minimal API surface, your build works exactly as you would imagine. </p>
  </div>
  
  <div class="contain">
  	<h2>Efficient</h2>
  	<p>Using the power of node streams, gulp gives you fast builds that don't write intermediary files to disk.</p>
  </div>
  
  <div class="contain">
  	<h2>Documentation</h2>
  	<a href="https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md"><p>Using the power of node streams, gulp gives you fast builds that don't write intermediary files to disk.</p></a>
  </div>

  <div class="contain">
    <h2>ReadMe</h2>
    <a href="https://github.com/johnnypacia/teamgulp/blob/master/README.md"><p>Check out this cool ReadMe we made!!</p></a>
  </div>

</body>
</html>